<div class="jumbotron">


  <div class="container">
    <div class="row">
      <h2>Search Prospect</h2>

      <div id="custom-search-input" class="well">
        <div class="input-group col-md-12">
          <input type="text" class="search-query form-control" placeholder="Search Prospect">
          <span class="input-group-btn">
              <button class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <ul class="list-group">

          <li class="list-group-item row">
            <div class="col-md-1">
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            </div>
            <div class="col-md-11">
              <h4 class="list-group-item-heading"><a href="#">What is HTML?</a></h4>

              <p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup
                language for describing the structure of Web pages.</p>
            </div>
          </li>

          <li class="list-group-item row">
            <div class="col-md-1">
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            </div>
            <div class="col-md-11">
              <h4 class="list-group-item-heading"><a href="#">What is HTML?</a></h4>

              <p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup
                language for describing the structure of Web pages.</p>
            </div>
          </li>

          <li class="list-group-item row">
            <div class="col-md-1">
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            </div>
            <div class="col-md-11">
              <h4 class="list-group-item-heading"><a href="#">What is HTML?</a></h4>

              <p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup
                language for describing the structure of Web pages.</p>
            </div>
          </li>

          <li class="list-group-item row">
            <div class="col-md-1">
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            </div>
            <div class="col-md-11">
              <h4 class="list-group-item-heading"><a href="#">What is HTML?</a></h4>

              <p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup
                language for describing the structure of Web pages.</p>
            </div>
          </li>

          <li class="list-group-item row">
            <div class="col-md-1">
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            </div>
            <div class="col-md-11">
              <h4 class="list-group-item-heading"><a href="#">What is HTML?</a></h4>

              <p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup
                language for describing the structure of Web pages.</p>
            </div>
          </li>

          <li class="list-group-item row">
            <div class="col-md-1">
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            </div>
            <div class="col-md-11">
              <h4 class="list-group-item-heading"><a href="#">What is HTML?</a></h4>

              <p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup
                language for describing the structure of Web pages.</p>
            </div>
          </li>

          <li class="list-group-item row">
            <div class="col-md-1">
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            </div>
            <div class="col-md-11">
              <h4 class="list-group-item-heading"><a href="#">What is HTML?</a></h4>

              <p class="list-group-item-text">HTML stands for HyperText Markup Language. HTML is the main markup
                language for describing the structure of Web pages.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>


  </div>


</div>
