<div class="jumbotron">

  <div class="container">
    <div class="row">
      <h2>Search Prospect</h2>

      <div id="custom-search-input" class="well">
        <div class="input-group col-md-12">
          <input type="text" class="search-query form-control" placeholder="Search Prospect" ng-model="searchString" ng-keyup="inputKeyPress($event.keyCode)" >
          <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="search()">
                <span class="glyphicon glyphicon-search"></span>
              </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <ul class="list-group">

          <li class="list-group-item row" ng-repeat="result in searchResults | orderBy: 'gpa':true " >
            <div class="col-md-1">
              <a target="_blank" href={{result._source.notes}} class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-file"></span>
              </a>
            </div>
            <div class="col-md-11">
              <h4 class="list-group-item-heading"><a target="_blank" href={{result.website}}><strong>{{result.company_name}}</strong></a></h4>
              <p class="list-group-item-text"><strong>Location:</strong> {{result.locations}}</p>
              <p class="list-group-item-text"><strong>Bhavikas Comments:</strong> {{result.bhavikas_comments}}</p>
              <p class="list-group-item-text"><strong>Modified Date:</strong> {{result.modified_date}}</p>
              <p class="list-group-item-text"><strong>GPA:</strong> {{result.gpa}}</p>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>
